<?xml version="1.0" encoding="UTF-8"?>

<suite name="默认 Suite">
    <test name="第一套测试配置">
        <!--<groups>-->
        <!--<define name="part">-->
        <!--<include name="第二组" />-->
        <!--</define>-->
        <!--<define name="all">-->
        <!--<include name="第一组" />-->
        <!--<include name="第二组" />-->
        <!--</define>-->

        <!--<run>-->
        <!--<include name="all" />-->
        <!--</run>-->
        <!--</groups>-->

        <classes>
            <class name="com.testng.TestMain"/>
            <class name="com.testng.TestTwo"/>
            <class name="com.testng.TestThree">
                <methods>
                    <include name="simpleCase1"/>
                    <include name="simpleCase2"/>
                </methods>
            </class>
        </classes>
    </test>


    <test name="第二套测试配置">
        <groups>
            <define name="part">
                <include name="第二组"/>
            </define>
            <define name="all">
                <include name="第一组"/>
                <include name="第二组"/>
            </define>

            <run>
                <include name="all"/>
            </run>
        </groups>

        <classes>
            <class name="com.testng.TestMain"/>
            <class name="com.testng.TestTwo"/>
            <class name="com.testng.TestThree">
                <methods>
                    <include name="simpleCase1"/>
                    <include name="simpleCase2"/>
                </methods>
            </class>
        </classes>
    </test>


    <test name="第三套测试配置">
        <groups>
            <define name="part">
                <include name="第二组"/>
            </define>
            <define name="all">
                <include name="第一组"/>
                <include name="第二组"/>
            </define>

            <run>
                <include name="all"/>
            </run>
        </groups>

        <classes>
            <class name="com.testng.TestTwo"/>
            <class name="com.testng.TestThree">
                <methods>
                    <include name="simpleCase1"/>
                    <include name="simpleCase2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
