<suite name="First Suite">
<listeners>
    <listener class-name="com.ListenerTest" />
    <test name="第一套测试配置">
        <classes>
            <class name="com.testng.lifecycle.TestMain"/>
            <class name="com.testng.lifecycle.TestTwo"/>
            <class name="com.testng.lifecycle.TestThree">
                <methods>
                    <include name="simpleCase1"/>
                    <include name="simpleCase2"/>
                </methods>
            </class>
        </classes>
    </test>
        </listeners>
</suite>



